
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;
    background-color: #f0f0f0;
}

.main {
    flex-grow: 1;
    padding: 1rem;
    overflow: auto; /* Prevent content from overflowing */
}

.logoutButton {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}

.logoutButton:hover {
    background-color: #c82333;
}
